.input_box {
  /* フレックスコンテナとして指定 */
  display: flex;
  /* フレックスアイテムの並び方向を縦方向に設定 */
  flex-flow: column;
  /* 高さを固定：300px */
  height: 30px;
  /* 下に1emの余白を追加（上下方向は余白なし） */
  margin: 0 0 1em;
    /* 内側に1emの余白を追加 */
  padding: 1em;
  /* 上下に0.5em、左右には自動で余白を設定し、左右中央寄せ */
  margin: 0.5em auto;
  /* 幅を親要素の50%に設定 */
  width: 50%;
}

.button {
	display: flex;
	justify-content: center; /* 水平方向の中央揃え */
	align-items: center;   /* 垂直方向の中央揃え */
	margin-top: 20px;
}

.button input{
	display: flex;
	display       : inline-block;
	text-decoration: none;
	border-radius : 10%;          /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 7px 34px;   /* 余白       */
	background    : #000000;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
}

.kotira{
  text-align : center;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;   /* 垂直方向の中央揃え */
}

.button-link{
  text-decoration: none;
  background    : #ffffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  border:solid 1px #000000;    /* 枠 */
  text-align: center; /* 水平方向の中央揃え */
  margin-right   : 25px;
  padding: 10px;
}

.button-link2{
  text-decoration: none;
  background    : #ffffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  border:solid 1px #000000;    /* 枠 */
  text-align: center; /* 水平方向の中央揃え */
  margin-left   : 25px;
  padding: 10px;
}

.midasi{
	text-align: center;
}

.button a{
	display: flex;
	display       : inline-block;
	text-decoration: none;
	border-radius : 10%;          /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 7px 34px;   /* 余白       */
	background    : #000000;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
}

.iiebutton{
	margin-left: 50px;
}

.NEOhaibutton{
  position: relative;
  top: -10px; /* 上に20px動かす */
}

haibutton{
	margin-right;
}

.admen{
		display: flex;
		border-radius: 10px; /*丸角*/
		border:solid 2px #000000;
		margin-bottom: 5px;
		width: 60%;
  		justify-content: center; /* 水平方向の中央揃え */
  		align-items: center;   /* 垂直方向の中央揃え */
  		margin: 0.5em auto;
  		font-size: 20px;
}

.admen2{
		display: flex;
		border-radius: 10px; /*丸角*/
		border:solid 2px #000000;
		margin-bottom: 5px;
		width: 60%;
  		justify-content: space-between; /* 両端に配置 */
  		align-items: center;   /* 垂直方向の中央揃え */
  		margin: 0.5em auto;
  		font-size: 30px;
  		padding-left: 15px;
  		padding-right: 15px;
}


.admen p{
		margin-right: 20px;
}

.inline-block{
	width: 300px;
}

.sosikimei{
	text-align: center;
	font-size: 60px;
}

.ookisahaibutton{
	margin-top: 20px;
	display: flex;
	text-align    : right;      /* 文字位置   */
}

.ookisahaibutton input{
	margin-bottom: 20px;
	margin-left: 40px;
	width: 100px;
	display: flex;
	display       : inline-block;
	text-decoration: none;
	border-radius : 10%;          /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	cursor        : pointer;     /* カーソル   */
	padding       : 7px 34px;   /* 余白       */
	background    : #000000;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */

}

.request_cp {
    /* フレックスコンテナとして指定 */
    display: flex;
    /* フレックスアイテムの並び方向を縦方向に設定 */
    flex-direction: column;
    /* フレックスアイテムを中央に配置 */
    justify-content: center;
    align-items: center;
    /* 上部のマージンを設定 */
    margin-top: 150px;
}


